
#form_container
{
	background-image: url("images/paper-1914901_1280.jpg");
	background-size:100% 100%;
	padding:15px 15px;
	margin-top:150px;
	margin-bottom: 50px;
}

body
{
	background-color: #f46524;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6, p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    line-height: 1.1;
    color: #fff;
}

label {
  color: #fff;
}

#form_container input[type='text'], #form_container input[type='email'], #form_container textarea {
    background: rgba(255,255,255,0.8);
}

#form_container input[type='number'], #form_container input[type='telephone'], #form_container textarea {
    background: rgba(255,255,255,0.8);
}

#form_container input[type='text'],
#form_container input[type='email'],
#form_container input[type='telephone']
#form_container textarea
{
  background: rgba(255,255,255,0.8);	
} 
